.container-categories{
    width: 100vw;
    margin-top: 20px;
}

.container-categories section{
    margin-bottom: 50px;
    width: 100%;
}


.container-categories h1, .container-categories h2{
    font-weight: 700;
    color: #000;
}

.featured-course-categories, .popular-instructors{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-featrued-categories, .title-popular-categories{
    width: 100%;
    text-align: start;
    margin-bottom: 50px;
}

.card-main-categories {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-main-categories .img-main-card, .card-main-categories .img-main-card{
    width: 100%;
}

.content-card-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-shadow: 0px 4px 11.83px rgba(0, 0, 0, 0.15);
}

.content-card-main p{
    margin: 0;
}

.content-card-main div:nth-child(1) p{
    color: #000;
}

.profile-card-categories{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.profile-card-categories span:nth-child(1){
    display: flex;
    gap: 20px;
}

.profile-card-categories span:nth-child(1) img {
    width: 60px;
}


.profile-card-categories .btn{
    background-color: #232323;
    border-radius: 15px;
    border: 0;
}

.stats{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}

.stats p{
    margin: 0;
    font-size: 20px;
    color: #898989;
    font-weight: 500;
}

.stats span{
    font-weight: 700;
}

.stats span:nth-child(3) i{
    color: #F3B601;
}

/* popular instructors */

.content-cards-categories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(254px, 1fr));
    justify-items: center;
    width: 100%;
    gap: 10px;
}

.card-categories{
    display: flex;
    flex-direction: row;
    background-color: #F1F1F1;
    padding: 20px;
    border-radius: 20px;
    gap: 20px;
}

.card-categories img{
    width: 60px;
}

.card-categories div:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-categories div:nth-child(1) span, .card-categories div:nth-child(2) span{
    font-weight: 700;
}

.card-categories div:nth-child(1) span i{
    color: #F3B601;
    font-weight: 700;
}

.card-categories div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Section 3 */

.development-courses {
    width: 100%;
}

.title-development-categories{
    margin-bottom: 50px;
}

.filter-categories{
    display: none;
}

.filter-responsive-categories{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    gap: 10px;
    justify-items: center;
    margin-bottom: 50px;
}

.filter-responsive-categories div{
    width: 110px;
}

.filter-responsive-categories div button{
    width: 100%;
    background-color: #000;
    border: none;
}

.filter-responsive-categories div button:hover{
    background-color: #F3B601;
}

.content-cards-courses-categories{
    width: 350px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 30px;
    justify-items: center;
    margin-bottom: 100px;
}

.courses-categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-cards-courses-categories .card-Home{
    width: 100%;
    box-shadow: 0px 4px 11.83px rgba(0, 0, 0, 0.15);
}

.card-Home:hover{
    cursor: pointer;
    transform: translateY(-10px);
    transition: .2s;
}

.content-cards-courses-categories .card-Home .image-card-home{
    width: 100%;
}

.content-cards-courses-categories .card-Home .info-card-home{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.info-card-home p:nth-child(3) i {
    color: #F3B601;
}
/* overlay */
.overlay-store{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    inset: 0px;
    position: fixed;
    padding: 10px;
    z-index: 100;
}

.add-to-cart{
    width: calc(100% - 20px);
    position: absolute;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    max-width: 700px;
    max-height: 750px;
    overflow-y: scroll;
}

.add-to-cart::-webkit-scrollbar {
    display: none;
}

.add-to-cart h2{
    text-align: center;
}


.add-to-cart img:nth-child(2){
    width: 100%;
}

.description-add-cart{
    padding: 10px;
}


.profile-teacher-add-cart{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    text-align: start;
}

.profile-teacher-add-cart img{
    width: 60px;
}

.profile-teacher-add-cart h5, .profile-teacher-add-cart p{
    margin-bottom: 5px;
}   

.button-añadir {
    width: 100%;
    display: flex;
    justify-content: end;
    padding-right: 20px;
}

.button-añadir .btn{
    background-color: #F3B601;
    border: 0;
}

.profile-teacher-add-cart div{
    flex-direction: column;
    text-align: start;
}

/* cards */
.content-cards-cart {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: start;
    gap: 20px;
    margin-top: 20px;
}

.content-cards-cart .card-Home{
    width: 200px;
    box-shadow: 0px 4px 11.83px rgba(0, 0, 0, 0.15);
    padding: 10px;
}

.content-cards-cart .card-Home img:nth-child(1){
    width: 100%;
}

.content-cards-cart .card-Home h4, .content-cards-cart .card-Home h5{
    font-size: 14px;
}

.content-cards-cart .card-Home p{
    font-size: 10px;
}

.content-cards-cart .card-Home .profile-hoe-card img{
    width: 50px;
}

.content-cards-cart .card-Home .profile-hoe-card{
    padding: 0;
    gap: 20px;
}

.content-cards-cart .card-Home .footer-card-home span{
    font-size: 14px;
}

.content-cards-cart .card-Home .footer-card-home .btn{
    border-radius: 50%;
    background-color: #F3B601;
    margin-bottom: -40px;
}

.content-cards-cart .card-Home .footer-card-home{
    padding: 0;
    height: 21px;
}

.interesting-tag, .content-cards-cart{
    display: none;
}

.interesting-tag h2{
    text-align: start;
    font-size: 25px;
    font-weight: 600;
}

.content-tags-cart{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    justify-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.tag-cart input{
    display: none;
}

.tag-cart input + label{
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #000;
    cursor: pointer;
    width: 120px;
    text-align: center;
}
.tag-cart input:checked + label{
    color: #fff;
    background-color: #000;
}

.cardDowndload h1{
    margin-top: 30px;
    margin-bottom: 0;
    color: #fff;
    font-weight: 400;
}

@media screen and (min-width: 768px) {
    .card-main-categories{
        gap: 0;
    }
    
    .content-card-main{
        padding: 30px;
    }
    
    .profile-card-categories{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .profile-card-categories .btn{
        padding: 10px 20px;
    }

    .crad-buttons-home-section-sev{
        flex-direction: row;
        gap: 20px;
    }

    .filter-responsive-categories{
        grid-template-columns: repeat(6, minmax(110px, 1fr));
    }

    .description-add-cart div:nth-child(1) div:nth-child(2){
        display: flex;
        align-items: center;
    }

    .interesting-tag{
        display: block;
    }

    .content-cards-cart{
        display: grid;
    }
}

@media screen and (min-width: 1024px) {
    .container-categories{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .card-main-categories{
        flex-direction: row;
    }

    .card-main-categories .img-main-card{
        width: 50%;
    }

    .card-main-categories .img-main-cardd{
        width: 45%;
    }

    .filter-responsive-categories{
        display: none;
    }

    .filter-categories{
        display: block;
        width: 40%;
    }

    .filter-categories form{
        display: flex;
        flex-direction: column;
        gap: 20px;
        box-shadow: 0px 4px 11.83px rgba(0, 0, 0, 0.25);
        width: 100%;
        padding: 40px;
    }

    .filter-categories form div input + label{
        font-size: 14px;
        font-weight: 400;
    }

    .filter-categories form div input:checked{
        background-color: #E5C148;
        border-color: #E5C148;
    }

    .filter-categories form div:nth-child(1) input + label i{
        color: #F3B601;
    }

    .courses-categories{
        display: flex;
        flex-direction: row;
        align-items: start;
        gap: 40px;
    }

    .content-cards-courses-categories{
        grid-template-columns: repeat(2, 1fr);
        width: 100% !important;
        padding: 0 5%;
    }

    .filter-categories h3{
        font-size: 1.085rem;
        font-weight: 600;
    }

    .content-cards-cart .card-Home .profile-hoe-card{
        margin: 0 10px;
    }

    .content-card-main div:nth-child(1) p{
        font-size: 22px;
        width: 80%;
    }

    .cardDowndload h1{
        margin-top: 60px;
        background-size: contain;
    }

    .buttonscarddown{
        margin-top: -10px;
    }
}

@media screen and (min-width: 1200px) {
    .container-categories{
        max-width: 1140px;
    }
}