header{
    width: 100vw;
    height: 70px;
}

nav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
    padding:0  10px;
    align-items: center;
}

.navigator, .buttons {
    display: none;
}

.logo-img{
    width: 100px;
    align-items: center;
    display: flex;
}

.logo-img img{
    width: 60%;
    cursor: pointer;
}

.responsive-menu .btn{
    font-size: 40px;
    background-color: transparent;
    color: #232323;
    border: none;
    padding: 0;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 500;
}

ul li a{
    color: #232323;
    font-size: 20px;
}

.buttons-menu{
    width: 350px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.buttons-menu .btn, .buttons .btn{
    background-color: #232323;
    color: white !important;
    border: none;
}

.buttons-menu .link a, .buttons-menu .btn, .buttons .link a, .buutons .btn{
    color: #232323;
    font-size: 18px;
    width: 160px;
    --bs-btn-active-bg: #707070;
}

.buttons-student{
    display: none;
}

.buttons-select-notifications form div input{
    display: none;
    padding: 0;
    margin: 0;
}

.barra{
    width: 100%;
    height: 2px;
    background-color: #4b4b4b;
    border-radius: 50px;
}

.buttons-select-notifications form div input:checked + label span .barra{
    background-color: #E5C148;
}

.buttons-select-notifications form div .form-check{
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 1024px) {
    nav label, header ul li a {
        font-size: 16px;
    }
    
    .responsive-menu{
        display: none;
    }

    .navigator, .buttons {
        display: flex;
    }

    .buttons-student{
        display: flex;
        height: 100%;
        gap: 30px;
    }

    .navigator ul li, .navigator-menu{
        flex-direction: row;
    }

    nav{
        padding: 10px 30px;
    }

    .buttons-student span:nth-child(1){
        width: 30px;
        font-size: 27px;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .buttons-student span:nth-child(2), .buttons-student span:nth-child(3){
        width: 25px;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .buttons-student span:nth-child(4){
        width: 50px;
    }

    .buttons-student span img{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .navigator span{
        display: flex;
        margin: 0 40px;
        align-items: center;
        gap: 10px;
    }

    .navigator span input{
        border-radius: 50px;
        padding-left: 40px;
    }

    .navigator span i{
        position: absolute;
        margin-left: 110px;
    }

    nav ul{
        margin-right: 30px;
    }

}



